# --------- База данных ---------
DB_USER=postgres
DB_PASSWORD=345
DB_NAME=sysdm_test
# DB_HOST это имя сервиса из docker-compose.yml 
DB_HOST=localhost

# --------- Приложение ----------
APP_TITLE=SysDM
APP_VERSION=1.0.0
DEBUG=False
APP_PORT=8000

# --------- CORS ----------------
CORS_ORIGINS=http://localhost:3000,http://localhost:8080

# --------- Безопасность --------
# Сгенерировать: openssl rand -hex 32
SECRET_KEY=dewffegrthrhbyttjnyukmuyFFHGFHLKJLJKLJ

# --------- Агенты --------------da6bbab5797d1eb05a1478c7ca41b420e9d3a495
APP_HOST=http://192.168.0.1111:8000
DISABLE_IP_FILTER=True

# --------- Директории ----------
LOG_DIR=logs
UPLOAD_DIR=uploads

FIRST_SUPERUSER=admin
FIRST_SUPERUSER_PASSWORD=123
